<a href="https://colab.research.google.com/github/nabilaszf/project-01/blob/main/Phyton%20Week%2003.ipynb" target="_parent"><img src="https://colab.research.google.com/assets/colab-badge.svg" alt="Open In Colab"/></a>

## Basic Output in Python

In [ ]:
# Use the print() function to print output

print('Python is awesome')

Python is awesome

In [ ]:
print('Good Evening!')
print('It is cloudy today.')

Good Evening!
It is cloudy today.

In [ ]:
# Print with end whitespace

print('Good Evening!', end = ' ')
print('It is cloudy today.')

Good Evening! It is cloudy today.

In [ ]:
print('New Month', 'September 2024', 'See you guys very soon!', sep = '. ')

New Month. September 2024. See you guys very soon!

In [ ]:
# Cetak Variabel

instansi = "Universitas Tidar"
prodi = "S-1 Teknologi Informasi"

print(instansi)
print(prodi)

Universitas Tidar
S-1 Teknologi Informasi

In [ ]:
# Cetak Literal
print(2023)

2023

In [ ]:
# Print Concatenated Strings

print('S-1 Teknologi Informasi ' + 'Universitas Tidar')

S-1 Teknologi Informasi Universitas Tidar

In [ ]:
# Output Formating

x = 8
y = 10

print('The value of x is {} and y is {}'. format(x,y))

The value of x is 8 and y is 10

### Basic Input in Python

In [1]:
# Python User Input

num = input('Enter a number: ')

print('You Entered:', num)

print('Data type of num:', type(num))

Enter a number: 7
You Entered: 7
Data type of num: <class 'str'>

In [2]:
# Converting User Input into a Number (Integer)

number = int(input('Enter a number:'))

print('You entered:', number)
print('Data type of number:', type(number))

Enter a number:9
You entered: 9
Data type of number: <class 'int'>

In [ ]:
# Download Data

!pip install wget

Collecting wget
  Downloading wget-3.2.zip (10 kB)
  Preparing metadata (setup.py) ... done
Building wheels for collected packages: wget
  Building wheel for wget (setup.py) ... done
  Created wheel for wget: filename=wget-3.2-py3-none-any.whl size=9656 sha256=ea51dd9cd7724b3fe194fdd0b34269126cbe4895354cf5dc4512a367e2d28a82
  Stored in directory: /root/.cache/pip/wheels/8b/f1/7f/5c94f0a7a505ca1c81cd1d9208ae2064675d97582078e6c769
Successfully built wget
Installing collected packages: wget
Successfully installed wget-3.2

In [ ]:
# Download Example File
!mkdir -p /resources/data
!wget -O /resources/data/Example1.txt https://s3-api.us-geo.objectstorage.softlayer.net/cf-courses-data/CognitiveClass/PY0101EN/labs/example1.txt

--2024-09-08 05:42:36--  https://s3-api.us-geo.objectstorage.softlayer.net/cf-courses-data/CognitiveClass/PY0101EN/labs/example1.txt
Resolving s3-api.us-geo.objectstorage.softlayer.net (s3-api.us-geo.objectstorage.softlayer.net)... 67.228.254.196
Connecting to s3-api.us-geo.objectstorage.softlayer.net (s3-api.us-geo.objectstorage.softlayer.net)|67.228.254.196|:443... connected.
HTTP request sent, awaiting response... 200 OK
Length: 45 [text/plain]
Saving to: ‘/resources/data/Example1.txt’

/resources/data/Exa 100%[===================>]      45  --.-KB/s    in 0s

2024-09-08 05:42:36 (14.8 MB/s) - ‘/resources/data/Example1.txt’ saved [45/45]

In [ ]:
# Read the Example1

example1 = "/resources/data/Example1.txt"
file1 = open(example1, "r")

In [ ]:
# Print the path of file

file1.name

'/resources/data/Example1.txt'

In [ ]:
# Print the mode of file, either 'r' or 'w'

file1.mode

'r'

In [ ]:
# Read the file

FileContent = file1.read()
FileContent

'This is line 1 \nThis is line 2\nThis is line 3'

In [ ]:
# Print the file with '\n' as a new line

print(FileContent)

This is line 1
This is line 2
This is line 3

In [ ]:
# Type of file content

type(FileContent)

str

In [ ]:
# Close file after finish

file1.close()

### Weekly Exercise 1

In [3]:
# Open File

with open('Biodata.txt', "r") as file1:
    FileContent = file1.read()
    print(FileContent)

Nama: Nabila Syafiqah Zahran Firlina
NPM: 2430506058
Program Studi: S-1 Teknologi Informasi
Alamat: Magelang Utara, Kota Magelang, Jawa Tengah
Hobi: Membaca
Email: nabilaszf@gmail.com

In [4]:
# Script untuk menampilkan nama, program studi, dan email
with open("Biodata.txt", "r") as file1:
    FileasList = file1.readlines()
    print(FileasList[0])
    print(FileasList[2])
    print(FileasList[5])

Nama: Nabila Syafiqah Zahran Firlina

Program Studi: S-1 Teknologi Informasi

Email: nabilaszf@gmail.com

In [5]:
# Writing line to file

with open('Biodata1.txt', 'w') as writefile:
    writefile.write("Nama           : Nabila Syafiqah Zahran Firlina\n")
    writefile.write("NPM            : 2430506058\n")
    writefile.write("Program Studi  : S-1 Teknologi Informasi\n")
    writefile.write("Alamat         : Magelang Utara, Kota Magelang, Jawa Tengah\n")

In [6]:
# Read file

with open('Biodata1.txt', 'r') as testwritefile:
    print(testwritefile.readlines(1))
    print(testwritefile.readlines(2))
    print(testwritefile.readlines(3))
    print(testwritefile.readlines(4))
    print(testwritefile.readlines(5))

['Nama           : Nabila Syafiqah Zahran Firlina\n']
['NPM            : 2430506058\n']
['Program Studi  : S-1 Teknologi Informasi\n']
['Alamat         : Magelang Utara, Kota Magelang, Jawa Tengah\n']
[]

In [7]:
# Copy File to Another

with open('Biodata1.txt','r') as readfile:
    with open('Biodata2.txt','w') as writefile:
          for line in readfile:
                writefile.write(line)

In [8]:
# Verify if the copy is successfully executed

with open('Biodata2.txt','r') as testwritefile:
    print(testwritefile.read())

Nama           : Nabila Syafiqah Zahran Firlina
NPM            : 2430506058
Program Studi  : S-1 Teknologi Informasi
Alamat         : Magelang Utara, Kota Magelang, Jawa Tengah

### Weekly Exercise 2

In [9]:
print("Selamat datang di Toko Maju Jaya")
print("Senin, 4 September 2023       13.05")
print(" ")

print("DAFTAR BELANJA:")
item1 = "Sabun"
item2 = "Shampo"
item3 = "Mie Instant"
item4 = "Detergen"
harga1 =10000
harga2 =15000
harga3 =5000
harga4 =17500

total = harga1 + harga2 + harga3 + harga4

print(item1,        "= Rp",harga1)
print(item2,        "= Rp",harga2)
print(item3,        "= Rp",harga3)
print(item4,        "= Rp",harga4)

print(" ")
print("Total = Rp ",total)

with open('Kuitansi.txt', 'w') as testwritefile:
        testwritefile.write("Selamat Datang di Toko Maju Jaya\n")
        testwritefile.write(" \n")
        testwritefile.write("Kuitansi - 4 September 2023" + "\n")
        testwritefile.write(" \n")
        testwritefile.write(item1 + " = Rp" + str(harga1) + "\n")
        testwritefile.write(item2 + " = Rp" + str(harga2) + "\n")
        testwritefile.write(item3 + " = Rp" + str(harga3) + "\n")
        testwritefile.write(item4 + " = Rp" + str(harga4) + "\n")
        testwritefile.write(" \n")
        testwritefile.write("Total Belanja =" + str(total))

Selamat datang di Toko Maju Jaya
Senin, 4 September 2023       13.05

DAFTAR BELANJA:
Sabun = Rp 10000
Shampo = Rp 15000
Mie Instant = Rp 5000
Detergen = Rp 17500

Total = Rp  47500