<a href="https://colab.research.google.com/github/nabilaszf/project-01/blob/main/Phyton%20Week%2002.ipynb" target="_parent"><img src="https://colab.research.google.com/assets/colab-badge.svg" alt="Open In Colab"/></a>

In [23]:
# Mengecek Tipe Data

type(-9)

int

In [24]:
# Mengecek Tipe Data

type(2.5)

float

In [27]:
# Mengecek Tipe Data

type("Hello, World!")

str

In [28]:
# Operasi Bilangan pada Python

43 + 60 + 16 + 41

160

In [29]:
# Operasi Bilangan pada Python

x = 45 * 10 + 100 // 10
x

460

## Weekly Exercise 1

In [ ]:
panjang = 20.5
lebar = 25
tinggi = 10

keliling = 2 *(panjang + lebar)
luas = panjang * lebar
volume = panjang*lebar*tinggi

print("panjang = " + str(panjang))
print("lebar = " + str(lebar))
print("tinggi = " + str(tinggi))
print("keliling = " + str(keliling))
print("volume = " + str(volume))

panjang = 20.5
lebar = 25
tinggi = 10
keliling = 91.0
volume = 5125.0

## Weekly Exercise 2

In [ ]:
# Membuat sebuah program untuk menampilkan data-data pada tabel

kal_shafira = 85
stat_shafira = 75
kal_amanda = 80
stat_amanda = 90
kal_aditya = 75
stat_aditya = 80
kal_nedia = 95
stat_nedia = 80
kal_widya = 85
stat_widya = 85
kal_hanif = 75
stat_hanif = 90
kal_andi = 70
stat_andi = 75
kal_dhanar = 85
stat_dhanar = 85
kal_hikma = 80
stat_hikma = 75

rata_rata_nilai_shafira = (kal_shafira + stat_shafira) / 2
jumlah_nilai_hanif= (kal_hanif + stat_hanif)
jumlah_nilai_andi = (kal_andi + stat_andi)
jumlah_nilai_kal_widya_dhanar_hikma_nedia = (kal_widya + kal_dhanar + kal_hikma + kal_nedia)
jumlah_nilai_stat_widya_dhanar_hikma_nedia = (stat_widya + stat_dhanar + stat_hikma + stat_nedia)
rata_rata_nilai_kal = (kal_shafira + kal_amanda + kal_aditya + kal_nedia + kal_widya + kal_hanif + kal_andi + kal_dhanar + kal_hikma) / 9
rata_rata_nilai_stat = (stat_shafira + stat_amanda + stat_aditya + stat_nedia + stat_widya + stat_hanif + stat_andi + stat_dhanar + stat_hikma) / 9

print("Program untuk menampilkan data-data pada tabel:")
print("")
print("1. Rata-rata nilai Shafira pada kedua mata kuliah: = " + str(rata_rata_nilai_shafira))
print("2. Jumlah nilai Hanif dan Andi untuk semua mata kuliah = " + str(jumlah_nilai_hanif + jumlah_nilai_andi))
print("3. a. Rata-rata nilai Widya, Dhanar, Hikma, dan Nedia pada mata kuliah Kalkulus 1 = " + str(jumlah_nilai_kal_widya_dhanar_hikma_nedia / 4))
print("   b. Rata-rata nilai Widya, Dhanar, Hikma, dan Nedia pada mata kuliah Metode Statistika =" + str(jumlah_nilai_stat_widya_dhanar_hikma_nedia / 4))
print("4. Rata-rata nilai mata kuliah Kalkulus 1 untuk semua mahasiswa = " + str(rata_rata_nilai_kal))
print("5. Rata-rata nilai mata kuliah Metode Statistika untuk semua mahasiwa = " + str(rata_rata_nilai_stat))

Program untuk menampilkan data-data pada tabel:

1. Rata-rata nilai Shafira pada kedua mata kuliah: = 80.0
2. Jumlah nilai Hanif dan Andi untuk semua mata kuliah = 310
3. a. Rata-rata nilai Widya, Dhanar, Hikma, dan Nedia pada mata kuliah Kalkulus 1 = 86.25
   b. Rata-rata nilai Widya, Dhanar, Hikma, dan Nedia pada mata kuliah Metode Statistika =81.25
4. Rata-rata nilai mata kuliah Kalkulus 1 untuk semua mahasiswa = 81.11111111111111
5. Rata-rata nilai mata kuliah Metode Statistika untuk semua mahasiwa = 81.66666666666667

## Weekly Exercise 3

In [ ]:
# Membuat sebuah program untuk menampilkan data

lama_dwi_kerja = 10
jam_dwi_kerja = 8
gaji_per_jam = 30000
hari_kerja_per_bulan = 20
izin_agustus = 3
tunjangan = 0.1
lama_lembur = 5
upah_lembur = 10000


gaji_per_hari = gaji_per_jam * jam_dwi_kerja
gaji_bulan_agustus = gaji_per_hari * (hari_kerja_per_bulan - izin_agustus)
tunjangan_agustus = (gaji_bulan_agustus * tunjangan)
lembur_agustus = lama_lembur * upah_lembur

print("1. Gaji pada bulan Agustus jika Dwi tidak masuk kerja selama 3 hari = Rp" + str(gaji_bulan_agustus))
print("2. Jumlah tunjangan yang diterima Dwi pada bulan Agustus = Rp" + str(tunjangan_agustus))
print("3. Jumlah gaji total yang diterima Dwi pada bulan Agustus = Rp" + str(gaji_bulan_agustus + tunjangan_agustus + lembur_agustus))

1. Gaji pada bulan Agustus jika Dwi tidak masuk kerja selama 3 hari = Rp4080000
2. Jumlah tunjangan yang diterima Dwi pada bulan Agustus = Rp408000.0
3. Jumlah gaji total yang diterima Dwi pada bulan Agustus = Rp4538000.0