<a href="https://colab.research.google.com/github/nabilaszf/project-01/blob/main/Week%2013.ipynb" target="_parent"><img src="https://colab.research.google.com/assets/colab-badge.svg" alt="Open In Colab"/></a>

In [ ]:
# Create a Class
class MyClass:
  x = 5

In [ ]:
# Create Object

p1 = MyClass()
print(p1.x)

5

In [ ]:
# The __init__() Function
class Person:
  def __init__(self, name, age):
    self.name = name
    self.age = age

p1 = Person("Bila", 18)

print(p1.name)
print(p1.age)

Bila
18

In [ ]:
# The __str__ Function
class Person:
  def __init__(self, name, age):
    self.name = name
    self.age = age

p1 = Person("Bila", 18)

print(p1)

<__main__.Person object at 0x7d18e639dea0>

In [ ]:
class Person:
  def __init__(self, name, age):
    self.name = name
    self.age = age

  def __str__(self):
    return f"{self.name}({self.age})"

p1 = Person("Bila", 18)

print(p1)

Bila(18)

In [ ]:
# Object Methods
class Person:
  def __init__(self, name, age):
    self.name = name
    self.age = age

  def myfunc(self):
    print("Hello my name is " + self.name + "!")

p1 = Person("Bila", 18)
p1.myfunc()

Hello my name is Bila!

In [ ]:
class Person:
 def __init__(mysillyobject, name, age):
  mysillyobject.name = name
  mysillyobject.age = age

 def myfunc(abc):
  print("Hello my name is " + abc.name + "!")

p1 = Person("Bila", 18)
p1.myfunc()

Hello my name is Bila!

In [ ]:
# Modify Object Properties

p1.age = 18

In [ ]:
# Delete Object Properties

del p1.age

In [ ]:
# Delete Objects

del p1

In [ ]:
# Pass Statement

class Person:
  pass

In [ ]:
# Create a Parent Class

class Person:
  def __init__(self, fname, lname):
    self.firstname = fname
    self.lastname = lname

  def printname(self):
    print(self.firstname, self.lastname)

x = Person("Nabila", "Firlina")
x.printname()

Nabila Firlina

In [ ]:
# Create a Child Class

class Student(Person):
  pass

In [ ]:
x = Student("Bila", "Zahran")
x.printname()

Bila Zahran

In [ ]:
# Add the __init__() function to the Student Class

class Student(Person):
  def __init__(self, fname, lname):
    Person.__init__(self, fname, lname)

In [ ]:
class Student(Person):
  def __init__(self, fname, lname):
    super().__init__(fname, lname)

In [ ]:
class Student(Person):
  def __init__(self, fname, lname, year):
    super().__init__(fname, lname)
    self.graduationyear = year

x = Student("Bila", "Zahran", 2024)

In [ ]:
class Student(Person):
  def __init__(self, fname, lname, year):
    super().__init__(fname, lname)
    self.graduationyear = year

  def welcome(self):
    print("Welcome", self.firstname, self.lastname, "to the class of", self.graduationyear)

In [ ]:
mytuple = ("Apel", "Mangga", "Pisang")
myit = iter(mytuple)

print(next(myit))
print(next(myit))
print(next(myit))

Apel
Mangga
Pisang

In [ ]:
mystr = "BILA"
myit = iter(mystr)

print(next(myit))
print(next(myit))
print(next(myit))
print(next(myit))

B
I
L
A

In [ ]:
myfloat_str = str(2430506058)
myit = iter(myfloat_str)

print(next(myit))
print(next(myit))
print(next(myit))
print(next(myit))
print(next(myit))
print(next(myit))
print(next(myit))
print(next(myit))
print(next(myit))
print(next(myit))

2
4
3
0
5
0
6
0
5
8

In [ ]:
# Perulangan Melalui Iterator

mytuple = ("Bila", "Biru", "Baru")
for a in mytuple:
  print(a)

Bila
Biru
Baru

In [ ]:
mystr = "BIRU"
for c in mystr:
  print(c)

B
I
R
U

In [ ]:
# Membuat Iterator
class MyNumber:
  def __iter__(self):
    self.a = 1
    return self

  def __next__(self):
    x = self.a
    self.a += 1
    return x

myclass = MyNumber()
myiter = iter(myclass)

print(next(myiter))
print(next(myiter))
print(next(myiter))
print(next(myiter))
print(next(myiter))
print(next(myiter))
print(next(myiter))
print(next(myiter))
print(next(myiter))

1
2
3
4
5
6
7
8
9

In [ ]:
# Stop Iteration
class MyNumbers:
  def __iter__(self):
    self.a = 1
    return self

  def __next__(self):
    if self.a <= 20:
      x = self.a
      self.a += 1
      return x
    else:
      raise StopIteration

myclass = MyNumbers()
myiter = iter(myclass)

for x in myiter:
  print(x)

1
2
3
4
5
6
7
8
9
10
11
12
13
14
15
16
17
18
19
20

In [ ]:
# Menghitung Banyaknya Karakter
c = "Nabila Syafiqah Zahran Firlina"
print(len(c))

30

In [ ]:
mytuple = ("Bila", "Biru", "Baru")
print(len(mytuple))

3

In [ ]:
thisdict = {
    'brand': 'Ford',
    'model': 'Mustang',
    'year': 1964
}
print(len(thisdict))

3

In [ ]:
class Car:
  def __init__(self, brand, model):
    self.brand = brand
    self.model = model

  def move(self):
    print("Drive!")

class Boat:
  def __init__(self, brand, model):
    self.brand = brand
    self.model = model

  def move(self):
    print("Sail!")

class Plane:
  def __init__(self, brand, model):
    self.brand = brand
    self.model = model

  def move(self):
    print("Fly!")

car1 = Car("Ford", "Mustang") # Car Class
boat1 = Boat("Ibiza", "Touring 20") # Boat Class
plane1 = Plane("Boeing", "747") # Plane Class

for x in (car1, boat1, plane1):
  print(x.brand)
  print(x.model)
  x.move()

Ford
Mustang
Drive!
Ibiza
Touring 20
Sail!
Boeing
747
Fly!

In [ ]:
class Vehicle:
  def __init__(self, brand, model):
    self.brand = brand
    self.model = model

  def move(self):
    print("Move!")

class Car(Vehicle):
  pass

class Boat(Vehicle):
  def move(self):
    print("Sail!")

class Plane(Vehicle):
  def move(self):
    print("Fly!")

car1 = Car("Ford", "Mustang") #Create a Car object
boat1 = Boat("Ibiza", "Touring 20") #Create a Boat object
plane1 = Plane("Boeing", "747") #Create a Plane object

for x in (car1, boat1, plane1):
  print(x.brand)
  print(x.model)
  x.move()

Ford
Mustang
Move!
Ibiza
Touring 20
Sail!
Boeing
747
Fly!

In [ ]:
# Weekly Exercise 1

class AlatTulis:
  def __init__(self, nama, stok, harga_satuan):
    self.nama = nama
    self.stok = stok
    self.harga_satuan = harga_satuan
    self.harga_total = stok * harga_satuan

  def set_nama(self, nama):
    self.nama = nama

  def set_stok(self, stok):
    self.stok = stok
    self.harga_total = self.stok * self.harga_satuan

  def set_harga_satuan(self, harga_satuan):
    self.harga_satuan = harga_satuan
    self.harga_total = self.stok * harga_satuan

  def get_nama(self):
    return self.nama

  def get_stok(self):
    return self.stok

  def get_harga_satuan(self):
    return self.harga_satuan

  def get_harga_total(self):
    return self.harga_total

bolpoint = AlatTulis("Bolpoint", 10, 2000)
pensil = AlatTulis("Pensil", 10, 1000)
penghapus = AlatTulis("Penghapus", 10, 500)

print("Nama Alat Tulis: ", bolpoint.get_nama())
print("Stok: ", bolpoint.get_stok())
print("Harga Satuan: ", bolpoint.get_harga_satuan())
print("Harga Total: ", bolpoint.get_harga_total())
print(" ")
print("Nama Alat Tulis: ", pensil.get_nama())
print("Stok: ", pensil.get_stok())
print("Harga Satuan: ", pensil.get_harga_satuan())
print("Harga Total: ", pensil.get_harga_total())
print(" ")
print("Nama Alat Tulis: ", penghapus.get_nama())
print("Stok: ", penghapus.get_stok())
print("Harga Satuan: ", penghapus.get_harga_satuan())
print("Harga Total: ", penghapus.get_harga_total())
print(" ")
harga_akhir = bolpoint.get_harga_total() + pensil.get_harga_total() + penghapus.get_harga_total()
print("Total Harga: ", harga_akhir)

Nama Alat Tulis:  Bolpoint
Stok:  10
Harga Satuan:  2000
Harga Total:  20000

Nama Alat Tulis:  Pensil
Stok:  10
Harga Satuan:  1000
Harga Total:  10000

Nama Alat Tulis:  Penghapus
Stok:  10
Harga Satuan:  500
Harga Total:  5000

Total Harga:  35000