<a href="https://colab.research.google.com/github/nabilaszf/project-01/blob/main/Python%20Week%2006.ipynb" target="_parent"><img src="https://colab.research.google.com/assets/colab-badge.svg" alt="Open In Colab"/></a>

# Loops in Python

In [ ]:
# Contoh penggunaan for loop

tahun = [2001, 2005, 2006]
n = len(tahun)

for i in range(n):
    print(tahun[i])

2001
2005
2006

In [ ]:
# Example for Loop

for i in range(-5, 7):
    print(i)

-5
-4
-3
-2
-1
0
1
2
3
4
5
6

In [ ]:
# Example of for loop, loop through list

for year in tahun:
    print(year)

2001
2005
2006

In [ ]:
# Use for loop to change the elements in list

kotak = ["merah", "kuning", "biru", "hijau"]

for i in range(0, len(kotak)):
    print("Before square", i, "is", kotak[i])
    kotak[i] = "abu-abu"
    print("After square", i, "is", kotak[i])

Before square 0 is merah
After square 0 is abu-abu
Before square 1 is kuning
After square 1 is abu-abu
Before square 2 is biru
After square 2 is abu-abu
Before square 3 is hijau
After square 3 is abu-abu

In [ ]:
# Loop through the list and iterate on both index and element value

kotak = ["merah", "kuning", "biru", "hijau"]

for i, kotak in enumerate(kotak):
    print(i, kotak)

0 merah
1 kuning
2 biru
3 hijau

In [ ]:
# While Loop Example

tahun = [2001, 2005, 2006]
i = 0
year = 0

while(year != 2006):
    year = tahun[i]
    i = i + 1
    print(year)

print("It took", i , "repetitions to get out of loop.")

2001
2005
2006
It took 3 repetitions to get out of loop.

In [ ]:
# Nested Loop
for i in range(1, 11):
  for j in range(1, 11):
    print(i * j, end=' ')
  print()

1 2 3 4 5 6 7 8 9 10
2 4 6 8 10 12 14 16 18 20
3 6 9 12 15 18 21 24 27 30
4 8 12 16 20 24 28 32 36 40
5 10 15 20 25 30 35 40 45 50
6 12 18 24 30 36 42 48 54 60
7 14 21 28 35 42 49 56 63 70
8 16 24 32 40 48 56 64 72 80
9 18 27 36 45 54 63 72 81 90
10 20 30 40 50 60 70 80 90 100

In [ ]:
# While Loop Inside a For Loop
nama = ['Bila', 'Javi', 'Altaaf']
for nama in nama:
  count = 0
  while count < 5:
    print(nama, end=' ')
    count = count + 1
  print()

Bila Bila Bila Bila Bila
Javi Javi Javi Javi Javi
Altaaf Altaaf Altaaf Altaaf Altaaf

In [ ]:
# Break Nested Loop
for i in range(5):
  for j in range(5):
    if j == i:
      break
    print(i, j)

1 0
2 0
2 1
3 0
3 1
3 2
4 0
4 1
4 2
4 3

In [ ]:
# Continue Nested Loop
satu = [1, 2, 3]
dua = [2, 3, 4]
for i in satu:
  for j in dua:
    if i == j:
      continue
    print(i, '*', j, '=', i * j)

1 * 2 = 2
1 * 3 = 3
1 * 4 = 4
2 * 3 = 6
2 * 4 = 8
3 * 2 = 6
3 * 4 = 12

In [ ]:
# Nested While Loop
i = 1
while i <= 5:
  j = 1
  while j <= 10:
    print(j, end='')
    j = j + 1
  i = i + 1
  print()

12345678910
12345678910
12345678910
12345678910
12345678910

In [ ]:
# For Loop Inside While Loop

print("Show perfect number from 1 to 100")
n = 2
while n <= 100:
  x_sum = 0
  for i in range(1, n):
    if n % i == 0:
      x_sum += i
  if x_sum == n:
    print(str(n) + " is a perfect number")
  n += 1

Show perfect number from 1 to 100
6 is a perfect number
28 is a perfect number

### Weekly Exercise 1

In [2]:
jumlah_baris = int(input("Masukkan jumlah baris: "))

if jumlah_baris > 0:
    for i in range(1, jumlah_baris + 1):
      # spasi untuk mengatur posisi
        for j in range(jumlah_baris - i):
            print(" ", end="")

        # untuk mencetak bintang
        for k in range(i):
            print("*", end=" ")

        # pindah ke baris baru
        print()
else:
    print("Masukkan bilangan bulat positif.")

Masukkan jumlah baris: 9
        *
       * *
      * * *
     * * * *
    * * * * *
   * * * * * *
  * * * * * * *
 * * * * * * * *
* * * * * * * * *

### Weekly Exercise 2

In [6]:
jumlah_baris = int(input("Masukkan jumlah baris: "))

# Validasi input
if jumlah_baris > 0:
  for i in range(jumlah_baris):
      # Spasi untuk mengatur posisi segitiga
      for k in range(jumlah_baris - i + 1):
          print(end=" ")

      # Menghitung elemen pada setiap baris
      for j in range(i + 1):
          # nCr = n! / (r! * (n - r)!)
          elemen = 1
          for l in range(1, j + 1):
              elemen = elemen * (i - l + 1) // l
          print(elemen, end=" ")

      # Pindah ke baris baru setelah setiap baris selesai
      print()
else:
    print("Masukkan bilangan bulat positif.")

Masukkan jumlah baris: 4
     1
    1 1
   1 2 1
  1 3 3 1

### Weekly Exercise 3

In [8]:
jumlah_baris = int(input("Masukkan jumlah baris: "))

# Validasi input
if jumlah_baris <= 0:
    print("Masukkan bilangan bulat positif.")
else:
    baris_sekarang = 0
    angka_sebelumnya = 1  # Angka pertama pada setiap baris selalu 1
    jumlah_angka = 0

    while baris_sekarang < jumlah_baris:
        angka_sekarang = 1  # Angka pertama pada baris ini
        jumlah_angka += angka_sekarang  # Tambahkan angka pertama ke jumlah

        # Menghitung dan mencetak angka-angka selanjutnya pada baris ini
        j = 0
        while j < baris_sekarang:
            angka_sekarang = angka_sekarang * (baris_sekarang - j) // (j + 1)
            jumlah_angka += angka_sekarang
            j += 1

        baris_sekarang += 1

    print(f"Jumlah angka pada baris ke-{jumlah_baris}: {jumlah_angka}")

Masukkan jumlah baris: 11
Jumlah angka pada baris ke-11: 2047