<a href="https://colab.research.google.com/github/nabilaszf/project-01/blob/main/Week_09.ipynb" target="_parent"><img src="https://colab.research.google.com/assets/colab-badge.svg" alt="Open In Colab"/></a>

In [ ]:
# Membuat list

listini = ["apel", "mangga", "jambu"]
print(listini)

['apel', 'mangga', 'jambu']

In [ ]:
# List bisa mencetak ganda

listini = ["apel", "mangga", "jambu", "mangga"]
print(listini)

['apel', 'mangga', 'jambu', 'mangga']

In [ ]:
# Menghitung banyaknya item dalam list
print(len(listini))

4

In [ ]:
# Macam-macam tipe data dalam list
list1 = ["apel", "mangga", "jambu"]
list2 = [1, 5, 7, 9, 3]
list3 = [True, False, False]

print(list1)
print(list2)
print(list3)

['apel', 'mangga', 'jambu']
[1, 5, 7, 9, 3]
[True, False, False]

In [ ]:
# List dengan tipe data yang berbeda

list1 = ["abc", "34", True, 40, "male"]
print(list1)

['abc', '34', True, 40, 'male']

In [ ]:
# Mengetahui tipe data list
list1 = ["apel", "mangga", "jambu"]
print(type(list1))

<class 'list'>

In [ ]:
print(list1[0])

apel

In [ ]:
print(list1[1])

mangga

In [ ]:
print(list1[-1])

jambu

In [ ]:
listsatu = ["apel", "mangga", "jambu", "pisang", "jeruk"]
print(listsatu[2:5])

['jambu', 'pisang', 'jeruk']

In [ ]:
print(listsatu[:4])

['apel', 'mangga', 'jambu', 'pisang']

In [ ]:
print(listsatu[2:])

['jambu', 'pisang', 'jeruk']

In [ ]:
# Check if "apple" is present in the lits:
if "mangga" in listsatu:
    print("Yes, 'mangga' is in the fruits list")
else :
    print("No, 'mangga' is not in the fruits list")

Yes, 'mangga' is in the fruits list

In [ ]:
#Check if "apple" is present in the list:
if "durian" in listsatu:
  print("Yes, 'durian' is in the fruits list")
else :
  print("No")

No

In [ ]:
thislist = ["apple", "banana", "cherry", "orange", "kiwi", "melon", "mango"]
print(thislist)

['apple', 'banana', 'cherry', 'orange', 'kiwi', 'melon', 'mango']

In [ ]:
thislist[1] = "blackcurrant"
print(thislist)

['apple', 'blackcurrant', 'cherry', 'orange', 'kiwi', 'melon', 'mango']

In [ ]:
#Change the values "blackcurrant" and "cherry" with the values "banana" and "watermelon":
thislist[1:3] = ["banana", "watermelon"]
print(thislist)

['apple', 'banana', 'watermelon', 'orange', 'kiwi', 'melon', 'mango']

In [ ]:
thislist[1:2] = ["blackcurrant", "dragonfruit"]
print(thislist)

['apple', 'blackcurrant', 'dragonfruit', 'watermelon', 'orange', 'kiwi', 'melon', 'mango']

In [ ]:
mahasiswa = {
   "nama" : "Nabila Syafiqah Zahran Firlina",
   "kelas" : "Rombel 1",
   "tanggal_lahir" : "7 Januari 2006",
   "no_hp" : "08123456789",
   "alamat" : "Kramat Selatan, Magelang Utara, Kota Magelang, Jawa Tengah",
   "hobi" : ["Membaca buku", "Mendengarkan musik",]
}

for key, value in mahasiswa.items():
    if key == "hobi":
        print(f"{key.capitalize()}:")
        for hobi in value:
            print(f"- {hobi}")
    else:
        print(f"{key}: {value}")

nama: Nabila Syafiqah Zahran Firlina
kelas: Rombel 1
tanggal_lahir: 7 Januari 2006
no_hp: 08123456789
alamat: Kramat Selatan, Magelang Utara, Kota Magelang, Jawa Tengah
Hobi:
- Membaca buku
- Mendengarkan musik

In [ ]:
data = [
  {
    "Nama"         : "Nabila Syafiqah Zahran Firlina",
    "Kelas"        : "Rombel 1",
    "Tanggal Lahir": "7 Januari 2006",
    "No HP"        : "08123456789",
    "Alamat"       : "Kramat Selatan, Magelang Utara, Kota Magelang, Jawa Tengah",
    "Hobi"         : ["Menulis", "Mendengarkan musik", "Membaca buku"]
  }
]

for mahasiswa in data:
  for x, y in mahasiswa.items():
    if x == "Hobi":
      print(f"{x} :")
      a = 1
      for hobi in y:
        print(f"  {a}. {hobi}")
        a += 1
    else:
      print(f"{x} : {y}")
  print()

Nama : Nabila Syafiqah Zahran Firlina
Kelas : Rombel 1
Tanggal Lahir : 7 Januari 2006
No HP : 08123456789
Alamat : Kramat Selatan, Magelang Utara, Kota Magelang, Jawa Tengah
Hobi :
  1. Menulis
  2. Mendengarkan musik
  3. Membaca buku